@media only screen and (max-device-width : 480px) {
    
    .project{
        display: flex;
        justify-content:space-around;
        padding-top: 30px;
        line-height:20px;
        font-size: 30px;
        color:rgb(58, 46, 107); font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
        background : linear-gradient(
            rgb(232, 104, 104),
            rgb(104, 232, 117)
        );
        }
    
        .toWeb{
        text-align: center;
        line-height: 20px;
        font-size: 20px;
        }

}

@media only screen and (min-width : 1224px) {

    .project {
    display: flex;
    justify-content:space-around;
    font-size: 50px;
    padding-top: 30px;
    color:rgb(58, 46, 107); font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    background : linear-gradient(
        rgb(232, 104, 104),
        rgb(104, 232, 117)
    );
    }

    .toWeb {
    text-align: center;
    font-size: 20px;
    }

}