@media only screen and (max-device-width : 480px) {

    .callUs{
        font-size: 20px;
        text-align: center;
        line-height: 80px;
        color: black;  font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
        padding-top: 30px;
    }

    .links{
        text-align: center;
        font-size: 40px;
        color: 'green'; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }

    a {
        color: black; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }
    
}

@media only screen and (min-width : 1224px) {

    .callUs{
        font-size: 30px;
        text-align: center;
        color: wheat; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
        padding-top: 30px;
    }

    .links{
        text-align: center;
        font-size: 60px;
    }
    
    a {
        color: wheat; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }

}