@media only screen and (max-device-width : 480px) {

    .callUs{
        font-size: 20px;
        line-height: 80px;
        color: black;  font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
        padding-top: 30px;
    }

    .links{
        font-size: 40px;
        color: 'green'; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }

    a {
        color: black; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }
    
}

@media only screen and (min-width : 1224px) {

    .box1{
        display: flex;
    }

    .callUs{
        font-size: 30px;
        color: black; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
        margin-top: 20px;
    }

    .links{
        font-size: 60px;
        margin-top: 20px;
    }
    
    a {
        color: black; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }

}