@media only screen and (max-device-width : 480px) {

    .callUs{
        font-size: 20px;
        text-align: center;
        line-height: 80px;
    }

    .links{
        text-align: center;
        font-size: 40px;
    }
    
    a {
        color: inherit;
    }

}

@media only screen and (min-width : 1224px) {

    .callUs{
        font-size: 30px;
        text-align: center;
        line-height: 80px;
    }

    .links{
        text-align: center;
        font-size: 60px;
    }
    
    a {
        color: inherit;
    }

}