@media only screen and (max-device-width : 480px) {

    h3{
        color: whitesmoke;
        text-align: center;
        font-size: 10px;
    }

    a {
        color: 'whitesmoke'; font-family: 'Trocchi', serif;  font-weight: normal; line-height: 48px; margin: 0; 
    }

}

@media only screen and (min-width : 1224px) {

    h3{
        color: whitesmoke;
        text-align: center;
        font-size: 10px;
    }


}